<% layout('layouts/boilerplate') -%>

<button id="user-location" class="btn btn-default mb-3 mr-1 float-sm-right float-xs-left"><i class="fa fa-crosshairs" aria-hidden="true"></i> Use My Location</button>
<form class="form-inline" id="address-form">
  <div class="form-group mb-3">
    <label for="address" class="sr-only">Zip Code/Address</label>
    <input type="text" name="address" class="form-control" id="address" placeholder="Zip Code/Address">
  </div>
  <button type="submit" class="btn btn-primary mb-3 ml-1">Search</button>
</form>

<div id="map"></div>


<h1 class="mt-3">Welcome to <%= title %> <%= currentUser != undefined ? currentUser.local.username || currentUser.facebook.name : '' %></h1>
<p><a class="btn btn-primary btn-lg" href="/posts" role="button">Browse Boards &raquo;</a></p>


<script>
	var map, infoWindow;
	var posts = <%- JSON.stringify(posts) %>

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 10,
			center: new google.maps.LatLng(37.773972, -122.431297),
			mapTypeId: 'terrain'
		});

		var markers = [];

		for (var i = 0; i < posts.length; i++) {
		  var latLng = new google.maps.LatLng(posts[i].lat, posts[i].lng);
		  var marker = new google.maps.Marker({
        position: latLng,
        label: posts[i].title
      });
		  markers.push(marker);
		}

		var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

		// Get user location
		var getUserLocationBtn = document.getElementById('user-location')

		getUserLocationBtn.addEventListener('click', getLocation);

		infoWindow = new google.maps.InfoWindow;

		function getLocation() {
	    // Try HTML5 geolocation.
			// Note: This example requires that you consent to location sharing when
			// prompted by your browser. If you see the error "The Geolocation service
			// failed.", it means you probably did not give permission for the browser to
			// locate you.
	    if (navigator.geolocation) {
	      navigator.geolocation.getCurrentPosition(function(position) {
	        var pos = {
	          lat: position.coords.latitude,
	          lng: position.coords.longitude
	        };

	        infoWindow.setPosition(pos);
	        infoWindow.setContent('You are here.');
	        infoWindow.open(map);

	        map.setCenter(pos);
	      }, function() {
	        handleLocationError(true, infoWindow, map.getCenter());
	      });
	    } else {
	      // Browser doesn't support Geolocation
	      handleLocationError(false, infoWindow, map.getCenter());
	    }
		}

		function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		  infoWindow.setPosition(pos);
		  infoWindow.setContent(browserHasGeolocation ?
		                        'Error: The Geolocation service failed.' :
		                        'Error: Your browser doesn\'t support geolocation.');
		  infoWindow.open(map);
		}

	}

</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>

