<% layout('layouts/boilerplate') -%>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= title %></h1>
   	<p>Welcome to <%= title %> <%= currentUser != undefined ? currentUser.local.username || currentUser.facebook.name : '' %></p>
    <p><a class="btn btn-primary btn-lg" href="/posts" role="button">View Posts &raquo;</a></p>
  </div>
</div>

<form class="form-inline" id="address-form">
  <div class="form-group mb-3">
    <label for="address" class="sr-only">Zip Code/Address</label>
    <input type="text" name="address" class="form-control" id="address" placeholder="Zip Code/Address">
  </div>
  <button type="submit" class="btn btn-primary mb-3 ml-1">Search</button>
</form>

<div id="map"></div>

<script>
	var map, infoWindow;
	var posts = <%- JSON.stringify(posts) %>
	function initMap() {
		// Note: This example requires that you consent to location sharing when
		// prompted by your browser. If you see the error "The Geolocation service
		// failed.", it means you probably did not give permission for the browser to
		// locate you.
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 6,
			center: new google.maps.LatLng(37.773972, -122.431297),
			mapTypeId: 'terrain'
		});

		for (var i = 0; i < posts.length; i++) {
		  var latLng = new google.maps.LatLng(posts[i].lat,posts[i].lng);
		  var marker = new google.maps.Marker({
		    position: latLng,
		    map: map
		  });
		}

		infoWindow = new google.maps.InfoWindow;

		// Try HTML5 geolocation.
		if (navigator.geolocation) {
		  navigator.geolocation.getCurrentPosition(function(position) {
		    var pos = {
		      lat: position.coords.latitude,
		      lng: position.coords.longitude
		    };

		    infoWindow.setPosition(pos);
		    infoWindow.setContent('You are here.');
		    infoWindow.open(map);

		    map.setCenter(pos);
		  }, function() {
		    handleLocationError(true, infoWindow, map.getCenter());
		  });
		} else {
		  // Browser doesn't support Geolocation
		  handleLocationError(false, infoWindow, map.getCenter());
		}
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	  infoWindow.setPosition(pos);
	  infoWindow.setContent(browserHasGeolocation ?
	                        'Error: The Geolocation service failed.' :
	                        'Error: Your browser doesn\'t support geolocation.');
	  infoWindow.open(map);
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap">
</script>

