<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-4 col-offset-4">
		<h1><%= currentUser.username %></h1>
		<p>Maybe put a hidden AJAX form here for edit of user?</p>
	</div>
</div>