<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-12">
		<div class="form-auth">
			<form method="POST">
			  <h2>Reset Password</h2>
		    <label for="password" class="sr-only">New Password</label>
		    <input type="password" name="password" placeholder="New password" autofocus="autofocus" class="form-control top"/>
		    <label for="confirm" class="sr-only">Confirm Password</label>
		    <input type="password" name="confirm" placeholder="Confirm password" class="form-control bottom"/>
		    
		    <button type="submit" class="btn btn-primary btn-lg btn-block">Update Password</button>
			</form>
		</div>
	</div>
</div>