<% layout('layouts/boilerplate') -%>

<form action="/posts" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="inputTitle" name="post[title]" placeholder="Title" required>
  </div>
  <div class="form-group">
    <label for="inputLocation">Location</label>
    <input type="text" class="form-control" id="inputLocation" name="post[location]" placeholder="Location" required>
  </div>
  <div class="form-group">
  	<label for="selectCondition">Condition</label>
  	<select class="form-control" id="selectCondition" name="post[condition]" required>
			<option value="" selected disabled>Select Condition</option>
  	  <option value="excellent">Excellent</option>
  	  <option value="good">Good</option>
  	  <option value="poor">Poor</option>
  	</select>
  </div>
  <div class="form-group">
	  <label for="textareaBody">Description</label>
	  <textarea class="form-control" rows="3" id="textareaBody" name="post[description]" placeholder="Description" required></textarea>
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Price</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" name="post[price]" placeholder="Price" required>
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputImage">Image</label>
    <input type="file" id="inputImage" name="image" accept="image/*" required>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>